include ../head.pug

body
    .container.mt-5
      .row.d-flex.align-items-center
        .col-md-6
          h1.text-white List
        .col-md-6.text-end
          a.btn.btn-success(href='/add', role='button') Add      
      table.table.table-responsive.table-striped
        thead.text1
          tr
            th(scope="col") ID
            th(scope="col") Recipe Name
            th(scope="col") Main Ingridient
            th(scope="col") Cooking time
            th(scope="col") Contact Phone
            th(scope="col") Actions
  
        tbody.text2
script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/Recipe').then(function(response) {
      const Recipe = response.data;
      const tableBody = document.querySelector('table tbody');
      Recipe.forEach(t => {
        const row = document.createElement('tr');
        const Recipe = t.Recipe
        row.innerHTML = `
          <td>${t.id}</td>
          <td>${Recipe.RecipeName}</td>
          <td>${Recipe.MainIngridient}</td>
          <td>${Recipe.CookingTime}</td>
          <td>${Recipe.contactPhone}</td>
         
          <td>
            <button class="btn btn-primary btn-sm" data-id="${t.id}" onclick="window.location.href='/update/${t.id}'">Update</button>
            <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });

    // Use event delegation for delete buttons
    document.addEventListener('click', function(Recipe) {
      if (Recipe.target && Recipe.target.classList.contains('btn-danger')) {
        const RecipeId = Recipe.target.getAttribute('data-id');
        axios.delete(`/api/Recipe/${RecipeId}`).then(function(response) {
          alert('Deleted successfully', response);
          location.href = '/'
        })
        .catch(function(error) {
          alert('Error deleting Recipe: ' + error);
        });
      }
    });
    
  });
